{% extends "base.html" %}
﻿{% block content %}

    <div class="container fade">
      <div><h1>{{ dziecko }}</h1></div>

      <div id="detailsTable" class="row">

        <div class="col-xs-3">
        </div>

        <div class="col-xs-6">
        <div class="tableWrapper">
		{% for rodzic in rodzice %}	
          <table id="groupDetailsTable" class="table">
              <caption>Opiekun</caption>
              <tbody>
                  <tr>
                      <td>Imię i nazwisko</td>
                      <td>{{ rodzic }}</td>
                  </tr>
                  <tr>
                      <td>Telefon</td>
                      <td>{{ rodzic.telefon }}</td>
                  </tr>
                  <tr>
                      <td>Email</td>
                      <td>{{ rodzic.user.email }}</td>
                  </tr>                  
              </tbody>
          </table>
		  <br/>
		{% endfor %}
                   
          <a href="/opiekun/lista_dzieci"><button type="button" class="btn btn-success" style="margin-bottom: 20px;">Powrót</button></a>

        </div>
        </div>

        <div class="col-xs-3">
        </div>
      
      </div>
	</div>
{% endblock %}