{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
{% for group in user.groups.all %}
{% if group.name == "opiekunowie" %}
  <style type="text/css">
      
    div.fade {
        display: none;
      }

    div.formWrapper {
      background-color: white;
    }

  </style>
  
<div class="container fade">
      <div class="row">
        <div class="col-xs-12">
        <div class="formWrapper">
            <h3>Dodaj ogłoszenie</h3> 
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Dodaj</button>
    </form>
    
        </div>
      </div>
      </div>
    <br>
    <div><a href="/tablica/" class="btn btn-success pull-right">Powrót</a>
</div>
{% endif %}
{% endfor %}
{% else %}
	nie jesteś zalogowany zaloguj sie tu
{% endif %}
{% endblock %}